
* {
  
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
.practice-header {
    background-color: #f2f2f2;
    padding: 5px 8px;
    margin-bottom: 8px;
    border-radius: 0px;
    text-align: center;
    color: #000;
}
.practice-header h2 {
    margin: 0;
    font-size: 20px;
}
.practice-container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
}

.all-questions-wrapper {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #ffffff;
}
  
.question-card {
  background: none;
  padding: 10px 5px;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  box-shadow: none;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 14px;
}
.question-card:last-child {
  border-bottom: none;
}
.question-title {
    font-size: 16px;
    font-weight: bold;
    color: #008080;
}
.question-text {
  font-size: 17px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 14px;
}
.options .option {
  font-size: 16px;
  color: #333333;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background 0.3s ease;
}
.option:hover {
    background-color: #b3ffd9;
}
.option.selected {
  background-color: #ffcc99;
  border-color: #ffcc99;
}
.option.correct {
  background-color: #00994d !important;
  color: white !important;
  border-color: #00994d !important;
}
.option.wrong {
  background-color: #b30000 !important;
  color: white !important;
  border-color: #b30000 !important;
}
.view-answer-btn, .submit-test-btn, .try-again-btn {
  background-color: #008080;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}
.submit-test-btn {
  background-color: #cc5200;
}
.submit-test-btn:hover {
  background-color: #218838;
}
.view-answer-btn:hover {
  background-color: #ff6600;
}
.try-again-btn:hover {
  background-color: #5a6268;
}
.answer-box, .explanation-box {
  background-color: #e6fff2;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
  display: none;
}
.answer-text {
  font-weight: bold;
  color: #00994d;
  margin: 10px 0;
  font-size: 14px;
}
.explanation-text {
  color: #333333;
  font-size: 15px;
  line-height: 1.4;
  margin: 10px 0;
}
.results-card {
    max-width: 600px;
    margin: 20px auto;
    background: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
}
.results-card h2 {
    color: #0000cc;
    margin-bottom: 20px;
}
.results-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}
.results-item {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 5px;
    font-size: 13px;
    color: #262626;
}
.results-item span {
    color: #009999;
}
.results-message {
    font-size: 18px;
    font-weight: bold;
    color: #009999;
    margin: 15px 0;
}
